* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #0d6efd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

main .container {
    background-color: #fff;
    padding: 35px;
    width: 350px;
    height: 450px;
    border-radius: 4px;
}

@media (max-width: 425px) {
    main .container {
        width: auto;
        max-width: 300px;
    }
}

@media (max-width: 375px) {
    main .container {
        width: auto;
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    main .container {
        width: auto;
        max-width: 300px;
    }
}